<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home</title>
</head>
<body>
<div class="light-bgrid">
  <header class="header fade-in">
    <div class="container">
      <div class="logo">
        <a href="{{ url_for('home') }}">O N E S T O P . A I</a>
      </div>
      <nav class="nav">
        <ul>
          <li class="varela-round-regular"><a href="{{ url_for('about_us') }}">ABOUT</a></li>
          <li class="varela-round-regular"><a href="{{ url_for('category') }}">CATEGORIES</a></li>
          <li class="varela-round-regular"><a href="{{ url_for('contact_us') }}">CONTACT US</a></li>
          <li class="varela-round-regular"><a href="{{ url_for('profile') }}">MENU</a></li>          
          <li class="varela-round-regular"><a href="{{ url_for('login') }}">PROFILE</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="section-with-image fade-in">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Welcome to <span style="color: #88b406;">Our Website</span></h1>
              <p>Your ultimate directory for all the most popular AI tools. Whether you're a seasoned professional or a curious beginner, OneStopAI is designed to help you discover, compare, and access a wide range of AI tools in one convenient location. Explore our comprehensive listings, stay updated with the latest trends, and find the perfect tools to enhance your AI projects and workflows.</p>
              <section class="search-bar">
                <input type="text" id="search-input" class="input" placeholder="Search by price, tag, title...">
            </section>
            <!-- <section class="card-container"></section> -->
            </div>
            <div class="col-md-6">
              <div class="image-container">
                <img src="{{ url_for('static', filename='images/removed.png') }}" alt="" class="img-fluid custom-image">
              </div>
            </div>
          </div>
        </div>
      </section>
    <section class="card-container fade-in">
      {% for tool in aitools %} 
      <div class="card fade-in">
        <div class="image" style="background-image: url('https://picsum.photos/id/{{ tool.id }}/300/200');"></div>
        <div class="content">
          <a href="#" class="title">{{ tool.name }}</a>
          <p class="desc">Category: {{ tool.category }}</p>
          <div class="tags-container">
            <span class="tag tag-primary">{{ tool.tag }}</span>
            <span class="tag tag-price">{{ tool.cost }}</span>
          </div>
          <a href="{{ tool.link }}" class="action">Find out more →</a>
        </div>
      </div>
      {% endfor %}
      <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    </section>
    <div class="info-container fade-in">
      <section class="about-us" id="about">
        <h2>About Us</h2>
        <p>We are a company that specializes in creating high-quality websites for our clients. Our team of experienced designers and developers are dedicated to providing the best possible service.</p>
      </section>
      <section class="contact-us" id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns, please don't hesitate to contact us at <a href="mailto:contact@mywebsite.com">contact@mywebsite.com</a>. We'll be happy to help you in any way we can.</p>
      </section>
    </div>
  </main>
  <footer>
    <div class="footer fade-in">
      <div class="row">
        <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="row">
        <ul>
          <li><a href="{{ url_for('contact_us') }}">Contact us</a></li>
          <li><a href="{{ url_for('about_us') }}">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>
      <div class="row">
        OneStopAI Copyright © 2024 OneStopAI - All rights reserved || Designed By: Aishwarya and Sanmita
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</div>
</body>
</html>
